* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.externa {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.div-logo-alltech {
    background-image: url(../image/logo1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 100px;
}


.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: #474663;

}

@media (max-width: 990px) {
    .div-logo-alltech {
        background-image: url(../image/logo2.png);
        height: 50px;
        width: 50px;
        margin-left: -10px;
    }
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: #474663;

}

.bar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

.bar-user-sair {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bar-pesquisa-user-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-carrinho {
    margin-left: 5%;
}

.fotocarr {
    width: 40px;
    height: 30px;
    margin-left: 20px;
}

.quanti {
    position: absolute;
    margin-left: 64px;
    margin-top: -40px;
}

.btnMenu {
    z-index: 90000;
    cursor: pointer;

    div {
        background-color: rgb(255, 255, 255);
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: 1s;
    }
}

.linha1 {
    transform: rotate(-45deg) translate(-2px, 1px);
    position: relative;
    width: 15px !important;

}

.linha2 {
    opacity: 1;
}

.linha3 {
    transform: rotate(45deg) translate(-2px, -1px);
    position: relative;
    width: 15px !important;
}

.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.listHome {
    width: 40%;
    display: flex;
    margin: 1%;
}


#buscaCliente {
    position: fixed;
    top: 9.3%;
    z-index: 100;
    opacity: 0.7;
    right: 0;
    background-color: #000000;
}

.inputDivBuscaCliente {
    transition: 0.5s;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    border-color: white;
    width: 37%;
    height: 33px;
    position: fixed;
    top: 9%;
    z-index: 100;
    opacity: 1.0;
    right: 0;
    background-color: #ffffff;
    transform: translateX(100%);
}

.inputBuscaCliente {
    position: fixed;
    width: 100%;
    margin-top: 2px;
}

.contentItnsCarrinho {
    margin-top: 7%;
}

@media all and (orientation:landscape) and (min-width: 500px) and (max-width: 900px) {

    .bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35%;
        background-color: #474663;

    }


}

//media navbar
@media screen and (min-width: 500px) and (max-width: 930px) {

    .bar {
        margin-top: 10%;
    }

    .contentItnsCarrinho {
        margin-top: 27%;
    }

    .card {
        width: 88% !important;
    }

    .bar-pesquisa-user-carrinho {
        flex-wrap: wrap;
    }

    .bar-user-carrinho {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }

    .fotocarr {
        width: 38px;
        height: 30px;
    }

    .quanti {
        position: absolute;
        margin-left: 64px;
        margin-top: -38px;
    }

    .search button {
        width: 20%;
    }

    .list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 18%;
    }

    .listHome {
        width: 95%;
        display: flex;
        margin-top: 2%;
    }

    .bar-user-sair {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 40px;
    }

    .collapsible {
        height: 20px;
        background-color: #777;
        color: white;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active,
    .collapsible:hover {
        background-color: #555;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: left;
        margin-top: -30px;
    }

    .active:after {
        content: "\2212";

    }

    .contentconspllan {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #a8a8a8;
    }

    //venda Salva 
    .contentconspllanVendaSalva {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #ffffff;
    }
}

//media navbar
@media screen and (min-width: 0px) and (max-width: 499px) {
    

   
    .bar {
        margin-top: 20%;
        height: 20%;
    }

    .contentItnsCarrinho {
        margin-top: 30%;
    }

    .card {
        width: 88% !important;
    }

    .bar-pesquisa-user-carrinho {
        flex-wrap: wrap;
    }

    .bar-user-carrinho {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }

    .fotocarr {
        width: 38px;
        height: 30px;
    }

    .quanti {
        position: absolute;
        margin-left: 64px;
        margin-top: -38px;
    }

    .search button {
        width: 20%;
    }

    .list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 18%;
    }

    .listHome {
        width: 95%;
        display: flex;
        margin-top: 2%;
    }
    .bar-user-sair {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 40px;
    }

    .collapsible {
        height: 20px;
        background-color: #777;
        color: white;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active,
    .collapsible:hover {
        background-color: #555;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: left;
        margin-top: -30px;
    }

    .active:after {
        content: "\2212";

    }

    .contentconspllan {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #a8a8a8;
    }

    //venda Salva 
    .contentconspllanVendaSalva {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #ffffff;
    }
}


@media (max-width: 369px) {

    #buscaCliente {
        position: fixed;
        top: 13%;
        z-index: 100;
        opacity: 0.7;
        right: 0;
        background-color: #000000;
    }

    .inputDivBuscaCliente {
        transition: 1.0s;
        color: rgb(0, 0, 0);
        border-radius: 5px;
        border-color: white;
        width: 80%;
        height: 30px;
        position: fixed;
        top: 13%;
        z-index: 100;
        opacity: 1.0;
        right: 0;
        background-color: #ffffff;
        transform: translateX(100%);
    }

    .inputBuscaCliente {
        position: fixed;
        width: 100%;
        margin-left: 20px;

    }


}

@media screen and (min-width: 370px) and (max-width: 800px) {

    #buscaCliente {
        position: fixed;
        top: 13%;
        z-index: 100;
        opacity: 0.7;
        right: 0;
        background-color: #000000;
    }

    .inputDivBuscaCliente {
        transition: 1.0s;
        color: rgb(0, 0, 0);
        border-radius: 5px;
        border-color: white;
        width: 80%;
        height: 30px;
        position: fixed;
        top: 13%;
        z-index: 100;
        opacity: 1.0;
        right: 0;
        background-color: #ffffff;
        transform: translateX(100%);
    }

    .inputBuscaCliente {
        position: fixed;
        border-radius: 5px;
        margin-top: 1px;
        margin-right: 100px;
        height: 30px;
        border-color: white;

    }






    /*fim media 900px*/
}


.go-back {
    transform: translateX(0%);
}

.go-esconde {
    transform: translateX(100%);
}

.listCar {
    width: 102%;
    display: flex;
    justify-content: space-between;
}

.listCar h6 {
    font-size: 12px;
}

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}

.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}

.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}

.card-box .inner {
    padding: 5px 10px 0 10px;
}

.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}

.card-box p {
    font-size: 15px;
}

.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}

.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}

.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}

.bg-blue {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-orange {
    background-color: #f39c12 !important;
}

.bg-red {
    background-color: #d9534f !important;
}

.search {
    position: relative;
    box-shadow: 5px 2px 8px black;
    width: 45%;
}

.search input {
    height: 45px;
    border: none;
}

.search input:focus {
    box-shadow: none;
    border-radius: none;
}

.lupa {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 35px;
    width: 50px;
    border: none;
    border-left: 1px solid rgb(78, 78, 78);
    background: rgb(255, 255, 255)
}

.lupa-list {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 35px;
    width: 50px;
    border: none;

    background: rgb(255, 255, 255)
}

@media (min-width: 700px) {
    .list-qtd {
        width: 15% !important;
    }
}

.imgCarr {
    width: 25px;
    height: 23px;
}

.buttonAdd {
    width: 25px;
    height: 100%;
    background-color: #b87518;
    box-shadow: 5px 5px 20px 5px rgb(37, 1, 1);
    border: 2.5px;
    border-radius: 5px;
    padding: 1px;

}

.search-cliente {
    position: relative;
    margin: 1em;
    box-shadow: 5px 2px 8px black;
    width: 90%;
}

.search-cliente input {
    height: 45px;
    border: none;
}

.search-cliente input:focus {
    box-shadow: none;
    border-radius: none;
}

.lupa-cliente {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 35px;
    width: 50px;
    border: none;
    border-left: 1px solid rgb(78, 78, 78);
    background: rgb(255, 255, 255)
}

.lupa-salvaItem {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 35px;
    width: 120px;
    border: none;
    border-left: 1px solid rgb(78, 78, 78);
    background: rgb(255, 255, 255)
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.list-group {
    width: 100% !important;
}



// index cliente
.collapsible {
    height: 20px;
    background-color: #777;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: left;
    margin-top: -30px;
}

.active:after {
    content: "\2212";

}

.contentconspllan {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #a8a8a8;
}

//venda Salva 
.contentconspllanVendaSalva {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
}

.dropdown-item {
    z-index: 1000000 !important;
}

.dropdown-menu {
    z-index: 1000000 !important;
}